[general]
reddit_top_usage = "/top <subreddit> <['all', 'day', 'hour', 'month', 'week', 'year']> <count>"
spotify_archive_usage = "/archive <url> <username>"
err = ""
status = ""

[spotify]
client_id = ""
client_secret = ""

[discord]
bot_token = ""
daily_channel = ""
daily_count = ""
daily_sub = ""

[reddit]
client_id = ""
client_secret = ""
user_agent = ""

[triggers]
list = [
    ["trigger-word","response"],
]
