[general]
err = ""
status = ""
admins = [
    1234,
]
blocked = [
    1234,
]

[discord]
bot_token = ""
daily_channel = ""
daily_count = ""
daily_sub = ""

[reddit]
client_id = ""
client_secret = ""
user_agent = ""
fetch_cap = ""

[triggers]
list = [
    ["trigger", "response"]
]
