[general]
reddit_top_usage = "/top <subreddit> <timespan> <count>"
spotify_archive_usage = "/archive <url> <format> <reference>"
wfp_usage = "/wfp <type> <category> <count>"
err = ""
status = ""
admins = [
    1234,
]

[spotify]
client_id = ""
client_secret = ""

[discord]
bot_token = ""
daily_channel = ""
daily_count = ""
daily_sub = ""

[reddit]
client_id = ""
client_secret = ""
user_agent = ""
fetch_cap = ""

[triggers]
list = [
    ["trigger-word","response"],
]
